<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
           
           >
           <!-- xxx testDao = new dao.TestDao() -->
	<bean class="dao.TestDao" id="testDao"></bean>
	<!-- xxx testBiz = new biz.TestBiz() -->
	<!-- testBiz.setDao(testDao); -->
<!-- 	<bean class="biz.TestBiz" id="testBiz">
		<property name="dao">
			<ref bean="testDao"/>
		</property>
	</bean> -->
	<!-- 使用构造方法注入 -->
<!-- 	<bean class="biz.TestBiz" id="testBiz">
		<constructor-arg index="0">
			<ref bean="testDao"/>
		</constructor-arg index="1">
		<constructor-arg type="java.lang.String">直接量：String 8中值类型
			<value>xxxxx</value>
		</constructor-arg>
		需要几个构造方法就使用几个构造方法
	</bean> -->
	<bean id="testBiz" class="biz.TestBiz" p:dao-ref="testDao"></bean>
<!-- 	<bean id="testLogger" class="Logger.testLogger" >
		<property name="xx">
			<map>
				<entry key="0">
					<value></value>
				</entry>
				<entry key="1">
					<bean></bean>
				</entry>
				<entry key-ref="2">
					<ref/>
				</entry>
			</map>
		</property>
	</bean> -->
<!-- 	<bean id="testLogger" class="Logger.testLogger" >
		<property name="xx">
			<props>
			
				<prop key="url">链接地址</prop>
				<prop key="driverClass">驱动类</prop>
			
			</props>
		</property>
	</bean> -->
	
<!-- 	<bean id="testLogger" class="Logger.testLogger" >
		赋值为null
		<property name="xx">
			<null></null>
		</property>
		赋值为空字符串
		<property name="yy">
			<value></value>
		</property>
	</bean>	 -->
	
	<!-- 暂时注销aop切面部分配置，关注焦点回到注入上 -->
<!-- 	<aop:config proxy-target-class="true">
		<aop:pointcut expression="execution(public * biz..*(..))" id="pointcut"/>
		<aop:aspect ref="testLogger">
			<aop:before method="beforeLogger" pointcut-ref="pointcut"/>
			<aop:after-returning method="afterReturningLogger" pointcut-ref="pointcut"
			returning="result"
			
			/>
		</aop:aspect>
	
	</aop:config> -->
	
	
    
</beans>
